
<head>
<style>
p {
	font-size: 16px;
}
</style>
<!-- <link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700'
	rel='stylesheet' type='text/css'> -->
<!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/templatemo-style.css" rel="stylesheet">
</head>
<div>
	<!-- Left column -->
	<div class="templatemo-flex-row">
		<div class="templatemo-sidebar">
			<header class="templatemo-site-header">
				<div class="square"></div>
				<h1>E-INDIA</h1>
			</header>
			<div class="profile-photo-container">

				<img src="http://localhost:9066/api/get/image/{{username}}/pic"
					alt="Profile Photo" class="img-responsive" />
				<div class="profile-photo-overlay"></div>
			</div>

			<div class="mobile-menu-icon">
				<i class="fa fa-bars"></i>
			</div>
			<nav class="templatemo-left-nav">
				<ul>
					<li><a href="/#!/staffdashboard"><i
							class="fa fa-home fa-fw"></i>Profile</a></li>
					<li><a href="/#!/createuser"><i class="fa fa-users fa-fw"></i>Create
							User</a></li>
					<li><a href="/#!/uploaduserdocs"><i
							class="fa fa-sliders fa-fw"></i>Upload Documents</a></li>
					<li><a href="/#!/staff-settings"><i class="fa fa-sliders fa-fw"></i>Settings</a></li>
					<li><a href="#" ng-click="logout()"><i
							class="fa fa-eject fa-fw"></i>Sign Out</a></li>
				</ul>
			</nav>
		</div>
		<!-- Main content -->
		<div class="templatemo-content col-1 light-gray-bg">
			<div class="templatemo-content-container">
				<div class="templatemo-content-widget white-bg">
					<h2 class="margin-bottom-10">USER INFORMATION</h2>





					<div class="col-lg-4 col-md-4 form-group">
						<label class="control-label templatemo-block">Document To
							Upload</label> <select id="month" class="form-control" ng-model="dou"
							required>
							<option value="adhar">Adhar</option>
							<option value="pan">Pan</option>
							<option value="voterId">VoterId</option>

						</select>
					</div>
					<br>




					<!-- <div class="form-group text-left">
						<button type="submit" class="templatemo-blue-button">
							<i class="fa fa-home fa-fw"></i>SUBMIT
						</button>
						<button type="reset" class="templatemo-white-button">RESET</button>
					</div>
					<br> -->


					<form class="templatemo-login-form" enctype="multipart/form-data">
						<div class="row form-group">
							<div class="col-lg-12">
								<h2 class="margin-bottom-10">Upload {{dou |uppercase}}</h2>
								<p>Image size upto 1MB</p>
								<label class="control-label templatemo-block">File Input</label>
								<!-- <input type="file" name="fileToUpload" id="fileToUpload" class="margin-bottom-10"> -->
								<input type="file" file-model="uploadedFile" name="photo"
									id="photo" class="filestyle" data-buttonName="btn-primary"
									data-buttonBefore="true" data-icon="false">

							</div>
						</div>



						<hr />


						<div class="form-group text-left">
							<button type="submit" ng-click="doUploadFile()"
								class="templatemo-blue-button">Update Profile</button>
							<button type="reset" class="templatemo-white-button">Reset</button>
						</div>
						<div class="col-sm-offset-2">
							<p>{{uploadResult}}</p>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>
<footer class="text-right">
	<p>
		Copyright &copy; E-INDIA | Designed by <a href="" " target="_parent">E-INDIA</a>
	</p>
</footer>
</div>

<!-- JS -->
<!-- <script src="js/jquery-1.11.2.min.js"></script> -->
<!-- jQuery -->
<!-- <script src="js/jquery-migrate-1.2.1.min.js"></script> -->
<!--  jQuery Migrate Plugin -->
<!-- <script src="https://www.google.com/jsapi"></script> -->

<!-- Templatemo Script -->

<script type="text/javascript" src="./js/templatemo-script.js"></script>